.features {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 13.737rem;

    background-color: $Dark-Blue-main;

    &__cards {
        width: 100%;
        max-width: 88rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 13.3rem;
        row-gap: 7.9rem;

        @media screen and (max-width: 620px) {
            grid-template-columns: 1fr;
            max-width: 320px;
            row-gap: 80px;
        }
    }
}